<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>factcheck后台管理系统</title>
    <link rel="stylesheet" href="back/layui/css/layui.css">
    <link rel="stylesheet" href="back/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="back/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="back/DataTables/datatables.min.css">
    <link rel="stylesheet" href="front/css/wangEditor.min.css">
    <script src="back/jquery-validation-1.19.1/lib/jquery.js"></script>
    <script src="back/DataTables/datatables.min.js"></script>
    <script src="back/layer/layer.js"></script>
    <script src="back/jquery-validation-1.19.1/dist/jquery.validate.min.js"></script>
    <script src="back/jquery-validation-1.19.1/dist/additional-methods.min.js"></script>
    <script src="back/jquery-validation-1.19.1/dist/localization/messages_zh.min.js"></script>
    <script src="back/cookie/js.cookie.min.js" type="text/javascript"></script>
    <script src="front/js/wangEditor.js" type="text/javascript"></script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-color: rgb(205,87,18);">
        <div class="layui-logo" style="color: #FFF; font-size: 20px; width: 160px;">factcheck</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <div id="datetime">katyu
                    <script>
                        setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 10);
                    </script>
                </div>
            </li>
            <li class="layui-nav-item">

            </li>
        </ul>
    </div>


    <aside class="box" id="test">
        <button id="btn" style="background: url(back/images/收回按钮.png)"></button>
    </aside>

    <div class="layui-side layui-bg-black" id="laySide">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">确认辟谣与起草流言</a>
                    <dl class="layui-nav-child">
                        <dd><a href="tobechecked.html">需辟谣流言</a></dd>
                        <dd><a href="tobedrafted.html">待起草流言</a></dd>
                    </dl>
                    <a href="javascript:;">辟谣管理</a>
                    <dl class="layui-nav-child">

                        <dd><a href="check.html">审核流言</a></dd>
                        <dd><a href="checkedf.html">审核失败流言</a></dd>
                        <dd><a href="checkeds.html">审核成功流言</a></dd>
                    </dl>
                    <a href="javascript:;">平台管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="distribute.html">账户管理</a></dd>

                    </dl>


                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body" style="height: 660px;" id="layBody">
        <!-- 内容主体区域 -->
        <section>
            <div class="layui-tab layui-tab-brief" lay-filter="demo" lay-allowclose="true">
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">
                        <table class="table display" id="datatable">
                            <thead>
                            <tr>
                                <th>流言编号</th>
                                <th>流言名称</th>
                                <th>起草时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- 审核子页面 -->
<script type="text/template" id="html1">
    <div class="layui-tab layui-tab-brief" lay-filter="demo" lay-allowclose="true">
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">辟谣ID</label>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-block">
                                <input name="result_id" id="result_id" class="layui-input" type="text"
                                       autocomplete="off"
                                       lay-verify="title" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">
                                审核结果
                            </label>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-block">
                                <input name="result" title="同意" type="radio" checked="" value="1">
                                <input name="result" title="拒绝" type="radio" value="-1">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">
                                审批意见
                            </label>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-block">
                                <textarea id="comment" class="layui-textarea" placeholder="请输入内容(一百字以内)"></textarea>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block" id="input1">
                        <button type="button" class="layui-btn layui-btn-normal" onclick="check()">确认</button>
                        <button type="button" class="layui-btn">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="html2">
    <form class="layui-form" action="">
        <div class="layui-form">
            <fieldSet>
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">辟谣编号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="id" autocomplete="off" placeholder="请输入标题" class="layui-input"
                                   readonly>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">辟谣名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="name" autocomplete="off" placeholder="请输入标题" class="layui-input"
                                   readonly>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">流言标签</label>
                        <div class="layui-input-inline">
                            <input type="text" id="label" autocomplete="off" placeholder="请输入标题" class="layui-input"
                                   readonly>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">流言地点</label>
                        <div class="layui-input-inline">
                            <input type="text" id="place" autocomplete="off" placeholder="请输入标题" class="layui-input"
                                   readonly>
                        </div>
                    </div>


                    <label class="layui-form-label">辟谣内容</label>
                    <div id="content"></div>

                    <div class="layui-inline">
                        <label class="layui-form-label">封面查看</label>
                        <img id="cover" src="back/images/文件.png" alt="封面"/>
                    </div>

                    <div class="layui-form-item layui-form-text">

                    </div>
                </div>
            </fieldSet>
        </div>
    </form>
</script>


<script src="back/layui/layui.js"></script>
<script src="back/utils.js"></script>
<script>

    //JavaScript代码区域
    layui.use(['element', 'laydate', 'form'], function () {
        let element = layui.element,
            form = layui.form;
        form.render();
    });
    let box = document.getElementById("test")
    let btn = document.getElementById("btn")
    let layBody = document.getElementById("layBody")
    let laySide = document.getElementById("laySide")
    let html1 = document.getElementById('html1').innerHTML
    let html2 = document.getElementById('html2').innerHTML
    let mid, rid;
    let editor;

    btn.onclick = function () {
        if (box.offsetLeft === 0) {
            box.style['margin-left'] = -200 + "px"
            layBody.style['margin-left'] = -200 + "px"
            laySide.style['margin-left'] = -200 + "px"
            $("#btn").css('background', 'url(images/放出按钮.png)')
        } else {
            box.style['margin-left'] = 0 + "px"
            layBody.style['margin-left'] = 0 + "px"
            laySide.style['margin-left'] = 0 + "px"
            $("#btn").css('background', 'url(images/收回按钮.png)')
        }
    }

    function loadTable() {
        let table = $('#datatable').DataTable({
            "searching": false,//是否展示搜索器
            "scrollY": 325,
            "ordering": false,
            "lengthMenu": [10, 20, 30, 50],
            "dom": '<"top">rt<"bottom"lip><"clear">',
            "data": dataSet,
            "language": {
                "infoEmpty": "共0条，",
                "infoFiltered": " - 共_MAX_条，",
                "info": '共 _TOTAL_ 条，',
                "lengthMenu": "显示 _MENU_ 条记录",
                "paginate": {
                    "previous": "<",
                    "next": ">"
                }
            },
            columnDefs: [
                {
                    targets: 0,
                    render: function (data, type, row, meta) {
                        return `<div><p>${row.rid}</p></div>`
                    }
                }, {
                    targets: 1,
                    render: function (data, type, row, meta) {
                        return `<div><p>${row.resultName}</p></div>`
                    }
                }, {
                    targets: 2,
                    className: "text-align-c",
                    render: function (data, type, row, meta) {
                        if (null == row.updateTime) {
                            return null;
                        }
                        return dateFormat(new Date(row.updateTime), "yyyy-MM-dd");
                    }
                }, {
                    targets: -1,
                    width: 130,
                    render: function (data, type, row, meta) {
                        let div = ``;
                        div += `<button class="btn mr-5 btn-primary detail" value="${row.rid}">详情</button>`;
                        div += `<button class="btn mr-5 btn-primary check" value="${row.rid}">审核</button>`;
                        return `<div>${div}</div>`;
                    }
                }]
        });
        $(`.detail`).each(function () {
            $(this).click(() => {
                layer.open({
                    type: 1,
                    title: "审批",
                    content: html2,
                    area: ['600px', '520px']
                });

                let form = layui.form;
                form.render();

                let id = $(this).val();
                let result;
                for (let i = 0; i < dataSet.length; i++) {
                    if (id == dataSet[i].rid) {
                        result = dataSet[i];
                        break;
                    }
                }
                $(`#id`).val(result.rid);
                $(`#name`).val(result.resultName);
                $(`#label`).val(result.tagName);
                $(`#place`).val(result.position);
                let E = window.wangEditor;
                editor = new E(`#content`);
                editor.customConfig.menus = [];
                editor.create();
                editor.$textElem.attr('contenteditable', false);
                editor.txt.html(result.description);
                $(`#cover`).attr('src', `/attachment/${result.cover}`);
            })
        });
        $(`.check`).each(function () {
            $(this).click(() => {
                layer.open({
                    type: 1,
                    title: "流言审批",
                    area: ['500px', '380px'], //宽高
                    content: html1,
                });

                let form = layui.form;
                form.render();

                let id = $(this).val();
                let result;
                for (let i = 0; i < dataSet.length; i++) {
                    if (id == dataSet[i].rid) {
                        result = dataSet[i];
                        break;
                    }
                }
                $(`#result_id`).val(result.rid);
                mid = result.mid;
                rid = result.rid;
            })
        });

    }


    function check() {
        let status = $("input[name='result']:checked").val();
        $.ajax({
            url: '/result/checkResult',
            type: 'POST',
            dataType: 'text',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "content": $(`#comment`).val(),
                "mid": mid,
                "rid": rid,
                "status": status,
                "username": Cookies.get("username")
            })
        })
    }

    function init() {
        $.ajax({
            url: '/result/getAllUncheckedResult',
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                dataSet = result;
                loadTable();
            }
        })
    }

    $(function () {
        init();
    })


</script>
<link rel="stylesheet" type="text/css" href="back/首页.css">

</body>
</html>