<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>factcheck后台管理系统</title>
    <link rel="stylesheet" href="back/layui/css/layui.css">
    <link rel="stylesheet" href="back/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="back/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="back/DataTables/datatables.min.css">
    <!--富文本编辑器wangEditor-->
    <link href="front/css/wangEditor.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/wangEditor/10.0.13/fonts/w-e-icon.woff" rel="stylesheet">


    <script src="back/jquery-validation-1.19.1/lib/jquery.js"></script>
    <script src="back/DataTables/datatables.min.js"></script>
    <script src="back/layer/layer.js"></script>
    <script src="back/jquery-validation-1.19.1/dist/jquery.validate.min.js"></script>
    <script src="back/jquery-validation-1.19.1/dist/additional-methods.min.js"></script>
    <script src="back/jquery-validation-1.19.1/dist/localization/messages_zh.min.js"></script>
    <script src="front/js/wangEditor.min.js" type="text/javascript"></script>
    <script src="back/cookie/js.cookie.min.js" type="text/javascript"></script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-color: rgb(205,87,18);">
        <div class="layui-logo" style="color: #FFF; font-size: 20px; width: 160px;">factcheck</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <div id="datetime">katyu
                    <script>
                        setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 10);
                    </script>
                </div>
            </li>
            <li class="layui-nav-item">

            </li>
        </ul>
    </div>


    <aside class="box" id="test">
        <button id="btn" style="background: url(back/images/收回按钮.png)"></button>
    </aside>

    <div class="layui-side layui-bg-black" id="laySide">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">确认辟谣与起草流言</a>
                    <dl class="layui-nav-child">
                        <dd><a href="tobechecked.html">需辟谣流言</a></dd>
                        <dd><a href="tobedrafted.html">待起草流言</a></dd>
                    </dl>
                    <a href="javascript:;">辟谣管理</a>
                    <dl class="layui-nav-child">

                        <dd><a href="check.html">审核流言</a></dd>
                        <dd><a href="checkedf.html">审核失败流言</a></dd>
                        <dd><a href="checkeds.html">审核成功流言</a></dd>
                    </dl>
                    <a href="javascript:;">平台管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="distribute.html">账户管理</a></dd>

                    </dl>


                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body" style="height: 660px;" id="layBody">
        <!-- 内容主体区域 -->
        <section>
            <div class="layui-tab layui-tab-brief" lay-filter="demo" lay-allowclose="true">
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">
                        <table class="table display" id="datatable">
                            <thead>
                            <tr>
                                <th>辟谣编号</th>
                                <th>辟谣名称</th>
                                <th>审核时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- 审核子页面 -->
<!-- 子页面 -->

<script type="text/template" id="html1">

    <div class="layui-tab layui-tab-brief" lay-filter="demo" lay-allowclose="true">
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <h3>&nbsp;&nbsp;起草辟谣</h3>
                <hr>
                <div class="">

                    <div class="container ">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">辟谣名称</span>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="辟谣名称">
                            <div class="input-group-prepend">
                                <span class="input-group-text">辟谣标签</span>
                            </div>
                            <input type="text" class="form-control" id="label" name="label" placeholder="辟谣标签">
                        </div>
                        <!--<textarea id="ddlSqlArea" placeholder="请输入文章内容..." class="form-control" style="height: 250px;">

                        </textarea>--><br>
                        <div id="editor">
                            <p>请填写流言详细描述</p>
                        </div>
                        <p>
                            <button class="btn btn-primary btn-lg" style="float:right" onclick="submit()" role="button">提交
                                »
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="html2">
    <form class="layui-form" action="">
        <div class="layui-form">
            <fieldSet>
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">流言编号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="id" autocomplete="off" placeholder="请输入标题" class="layui-input"
                                   readonly>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">流言名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pre_name" autocomplete="off" placeholder="请输入标题" class="layui-input"
                                   readonly>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">流言标签</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pre_label" autocomplete="off" placeholder="请输入标题" class="layui-input"
                                   readonly>
                        </div>
                    </div>


                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">审核意见</label>
                        <div class="layui-input-block">
                            <div id="comment"></div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">

                    </div>
                </div>
            </fieldSet>
        </div>
    </form>
</script>


<script src="back/layui/layui.js"></script>
<script src="back/utils.js"></script>
<script>

    //JavaScript代码区域
    layui.use(['element', 'laydate', 'form'], function () {
        let element = layui.element,
            form = layui.form;
        form.render();
    });
    let box = document.getElementById("test")
    let btn = document.getElementById("btn")
    let layBody = document.getElementById("layBody")
    let laySide = document.getElementById("laySide")

    btn.onclick = function () {
        if (box.offsetLeft === 0) {
            box.style['margin-left'] = -200 + "px"
            layBody.style['margin-left'] = -200 + "px"
            laySide.style['margin-left'] = -200 + "px"
            $("#btn").css('background', 'url(images/放出按钮.png)')
        } else {
            box.style['margin-left'] = 0 + "px"
            layBody.style['margin-left'] = 0 + "px"
            laySide.style['margin-left'] = 0 + "px"
            $("#btn").css('background', 'url(images/收回按钮.png)')
        }
    }

    let dataSet;
    let editor;
    let result;




    let html1 = document.getElementById('html1').innerHTML


    let html2 = document.getElementById('html2').innerHTML

    function submit() {
        let now = new Date();
        $.ajax({
            url: '/result/reDraftResult',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "cover": result.cover,
                "description": editor.txt.html(),
                "mid": result.mid,
                "position": result.position,
                "releaseTime": now,
                "resultName": $(`#name`).val(),
                "rid": result.rid,
                "tagName": $(`#label`).val(),
                "updateTime": now,
                "username": Cookies.get('username')
            })
        })
    }



    $(function () {
        $.ajax({
            url: '/result/getAllDeniedResultWithAdvice',
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                dataSet = result;
                loadTable();
            }
        })
    });

    function loadTable() {
        let table = $('#datatable').DataTable({
            "searching": false,//是否展示搜索器
            "scrollY": 325,
            "ordering": false,
            "lengthMenu": [10, 20, 30, 50],
            "dom": '<"top">rt<"bottom"lip><"clear">',
            "data": dataSet,
            "language": {
                "infoEmpty": "共0条，",
                "infoFiltered": " - 共_MAX_条，",
                "info": '共 _TOTAL_ 条，',
                "lengthMenu": "显示 _MENU_ 条记录",
                "paginate": {
                    "previous": "<",
                    "next": ">"
                }
            },
            columnDefs: [
                {
                    targets: 0,
                    render: function (data, type, row, meta) {
                        return `<div><p>${row.result.rid}</p></div>`;
                    }
                },{
                    targets: 1,
                    render: function (data, type, row, meta) {
                        return `<div><p>${row.result.resultName}</p></div>`;
                    }
                }, {
                    targets: 2,
                    render: function (data, type, row, meta) {
                        return dateFormat(new Date(row.result.updateTime), "yyyy-MM-dd");
                    }
                }, {
                    targets: -1,
                    width: 130,
                    render: function (data, type, row, meta) {
                        let buttonDetail = `<button class="btn mr-5 btn-primary detail" value="${row.result.rid}">审批结果</button>`;
                        let buttonDraft = `<button class="btn mr-5 btn-primary draft" value="${row.result.rid}">重新起草</button>`;
                        return `<div>${buttonDetail}${buttonDraft}</div>`;
                    }
                }]
        });
        $(".draft").each(function () {
            $(this).click(() => {
                layer.open({
                    type: 1,
                    title: "重新起草",
                    area: ['1300px', '720px'], //宽高
                    content: html1,
                });

                let rid = $(this).val();
                let obj;
                for (let i = 0; i < dataSet.length; i++) {
                    if (rid == dataSet[i].result.rid) {
                        obj = dataSet[i];
                        break;
                    }
                }
                result = obj.result;

                let form = layui.form;
                form.render();

                $(`#name`).val(result.resultName);
                $(`#label`).val(result.tagName);

                let E = window.wangEditor;
                editor = new E('#editor');

                editor.create();
                editor.txt.html(result.description);
            });
        });
        $(".detail").each(function () {
            $(this).click(() => {
                layer.open({
                    type: 1,
                    title: "审批失败详情",
                    content: html2,
                    area: ['600px', '520px']
                });

                let rid = $(this).val();
                let obj;
                for (let i = 0; i < dataSet.length; i++) {
                    if (rid == dataSet[i].result.rid) {
                        obj = dataSet[i];
                        break;
                    }
                }

                let form = layui.form;
                form.render();

                let E = window.wangEditor;
                let editor = new E('#comment');
                comment.customConfig.menus = [];
                comment.create();
                comment.txt.html(obj.advice);

                $(`#id`).val(obj.result.rid);
                $(`#pre_name`).val(obj.result.resultName);
                $(`#pre_label`).val(obj.result.tagName);
            })
        });
    }


</script>
<link rel="stylesheet" type="text/css" href="back/首页.css">

</body>
</html>