<!DOCTYPE html>
<html lang="en">
<head>
    <title>Factcheck - 专业的谣言验证网站</title>
    <!-- Favicon  -->
    <link rel="icon" href="front/images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="front/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="front/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="front/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="front/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="front/css/swiper.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="front/css/style.css">
</head>
<body>
<header class="site-header">


    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                        <a class="d-block" href="index.html" rel="home"><img class="d-block" src="front/images/logo.png"
                                                                             alt="logo"></a>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">


                            <li class="current-menu-item"><a href="index.html">首页</a></li>
                            <li><a href="news.html">流言</a></li>
                            <li><a href="submit.html">流言验证</a></li>
                            <li><a href="submit.html">关于我们</a></li>
                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->
</header><!-- .site-header -->

<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap">
            <img src="front/images/hero.jpg" alt="">

            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>今日流言</h1>
                                <h4>中国将有1000万孩子吃不饱饭</h4>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p>据国外有关报道，中国经济陷入萧条阶段，将有1000万孩子吃不饱饭</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                <a href="news.html" class="btn gradient-bg mr-2">了解更多</a>

                            </footer><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->

        <div class="swiper-slide hero-content-wrap">
            <img src="front/images/hero.jpg" alt="">

            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>今日流言</h1>
                                <h4>中国将有1000万孩子吃不饱饭</h4>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p>据国外有关报道，中国经济陷入萧条阶段，将有1000万孩子吃不饱饭</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                <a href="news.html" class="btn gradient-bg mr-2">了解更多</a>

                            </footer><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->

        <div class="swiper-slide hero-content-wrap">
            <img src="front/images/hero.jpg" alt="">

            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>今日流言</h1>
                                <h4>中国将有1000万孩子吃不饱饭</h4>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p>据国外有关报道，中国经济陷入萧条阶段，将有1000万孩子吃不饱饭</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                <a href="news.html" class="btn gradient-bg mr-2">了解更多</a>

                            </footer><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->
    </div><!-- .swiper-wrapper -->

    <div class="pagination-wrap position-absolute w-100">
        <div class="container">
            <div class="swiper-pagination"></div>
        </div><!-- .container -->
    </div><!-- .pagination-wrap -->

    <!-- Add Arrows -->
    <div class="swiper-button-next flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path
                d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
    </div>

    <div class="swiper-button-prev flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path
                d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
    </div>
</div><!-- .hero-slider -->


<div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="news-content">
                    <div class="popular-posts">
                        <ul class="p-0" id="all">
                        </ul>
                    </div><!-- .cat-links -->
                </div>
            </div>

            <div class="col-12 col-lg-4 news-wrap">
                <div class="sidebar">
                    <div class="search-widget">
                        <form class="flex flex-wrap align-items-center">
                            <input type="search" placeholder="Search...">
                            <button type="submit" class="flex justify-content-center align-items-center">GO</button>
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->

                    <div class="popular-posts">
                        <h2>最受关注</h2>

                        <ul class="p-0" id="popular">

                        </ul>
                    </div><!-- .cat-links -->

                    <div class="upcoming-events">
                        <h2>最近发布</h2>
                        <ul class="p-0" id = "recent">
                        </ul>
                    </div><!-- .cat-links -->


                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div>
    </div>
</div>

<div class="help-us">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <h2>不信谣不传谣就是帮助我们最好的方式</h2>

                <a class="btn orange-border" href="submit.html">提交流言</a>
            </div>
        </div>
    </div>
</div>


<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="foot-about">
                        <h2><a class="foot-logo" href="#"><img src="front/images/logo.png" alt=""></a></h2>

                        <p>Factcheck是一个专业权威的辟谣网站，收集用户上传的谣言，通过专家和国家机构权威辟谣，致力于维护国家的舆论安全</p>

                        <ul class="d-flex flex-wrap align-items-center">
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div><!-- .foot-about -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <h2></h2>

                    <ul>

                    </ul>
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-latest-news">
                        <h2>最新辟谣</h2>

                        <ul>
                            <li>
                                <h3><a href="#">这是最新辟谣1</a></h3>
                                <div class="posted-date">2020/5/2</div>
                            </li>

                            <li>
                                <h3><a href="#">这是最新辟谣2</a></h3>
                                <div class="posted-date">2020/5/2</div>
                            </li>

                            <li>
                                <h3><a href="#">这是最新辟谣3</a></h3>
                                <div class="posted-date">2020/5/3</div>
                            </li>
                        </ul>
                    </div><!-- .foot-latest-news -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>联系方式</h2>

                        <ul>
                            <li><i class="fa fa-phone"></i><span>8888888888</span></li>
                            <li><i class="fa fa-envelope"></i><span>Factcheck@163.com</span></li>
                            <li><i class="fa fa-map-marker"></i><span>上园村3号</span></li>
                        </ul>
                    </div><!-- .foot-contact -->

                    <div class="subscribe-form">
                        <form class="d-flex flex-wrap align-items-center">
                            <input type="email" placeholder="邮箱">
                            <input type="submit" value="发送">
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-widgets -->

    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made by factcheck</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer><!-- .site-footer -->

<script type='text/javascript' src='front/js/jquery.js'></script>
<script type='text/javascript' src='front/js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='front/js/swiper.min.js'></script>
<script type='text/javascript' src='front/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='front/js/circle-progress.min.js'></script>
<script type='text/javascript' src='front/js/jquery.countTo.min.js'></script>
<script type='text/javascript' src='front/js/jquery.barfiller.js'></script>
<script type='text/javascript' src='front/js/custom.js'></script>
<!-- jQuery (Necessary for All JavaScript Plugins) -->

<script>
    let contentType = "application/json; charset=utf-8";

    function loadAll() {
        $.ajax({
            url: '/result/getRandomResult',
            type: 'POST',
            contentType: contentType,
            data: JSON.stringify({
                "index": 10
            }),
            dataType: 'JSON',
            success: function (result) {
                let all = $(`#all`);
                result.forEach((item) => {
                    let date = new Date(item.updateTime);

                    let li = `<li class="d-flex flex-wrap justify-content-between align-items-center">
                                <figure><a href="/news/${item.rid}"><img src="attachment/${item.cover}" alt="${item.resultName}"></a></figure>

                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="/news/${item.rid}">${item.resultName}</a></h3>

                                    <div class="posted-date">${date.getFullYear()}/${date.getMonth()+1}/${date.getDay()}</div>
                                </div>
                            </li>`;
                    all.append(li);
                })
            }

        })
    }

    function loadRecent() {
        $.ajax({
            url: '/result/getRandomResult',
            type: 'POST',
            contentType: contentType,
            data: JSON.stringify({
                "index": 3
            }),
            dataType: 'JSON',
            success: function (result) {
                let recent = $(`#recent`);
                result.forEach((item) => {
                    let date = new Date(item.updateTime);
                    let li = `<li class="d-flex flex-wrap justify-content-between align-items-center">
                                <figure><a href="/news/${item.rid}"><img height="50" width="50" src="attachment/${item.cover}" alt="${item.resultName}"></a></figure>

                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="/news/${item.rid}">${item.resultName}</a></h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <span class="posted-date"><a href="/news/${item.rid}">${date.getFullYear()}/${date.getMonth()+1}/${date.getDay()}</a></span>
                                        <span class="event-location"><a href="/news/${item.rid}">${item.position}</a></span>
                                    </div>
                                </div>
                            </li>`;
                    recent.append(li);
                })
            }
        })
    }

    function loadPopular() {
        $.ajax({
            url: '/result/getRandomResult',
            type: 'POST',
            contentType: contentType,
            data: JSON.stringify({
                "index": 3
            }),
            dataType: 'JSON',
            success: function(result) {
                let popular = $(`#popular`);
                result.forEach((item) => {
                    let date = new Date(item.updateTime);
                    let li = `<li class="d-flex flex-wrap justify-content-between align-items-center">
                                <figure><a href="/news/${item.rid}"><img height="50" width="50" src="attachment/${item.cover}" alt="${item.resultName}"></a></figure>

                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="/news/${item.rid}">${item.resultName}</a></h3>

                                    <div class="posted-date">${date.getFullYear()}/${date.getMonth()+1}/${date.getDay()}</div>
                                </div>
                            </li>`;
                    popular.append(li);
                })
            }
        })
    }

    $(function () {
        loadAll();
        loadRecent();
        loadPopular();
    })
</script>
</body>
</html>