<!DOCTYPE html>
<html lang="en">
<head>
    <title>Factcheck - 专业的谣言验证网站</title>
    <link rel="icon" href="front/images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="front/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="front/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="front/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="front/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="front/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="front/css/style.css">
    <!-- 富文本 -->
    <link rel="stylesheet" type="text/css" href="front/css/wangEditor.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 4 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="https://cdn.staticfile.org/ionicons/4.1.2/css/ionicons.min.css" rel="stylesheet">

    <link href="https://cdn.staticfile.org/codemirror/5.38.0/codemirror.min.css" rel="stylesheet">
    <!--富文本编辑器wangEditor-->
    <link href="https://cdn.staticfile.org/wangEditor/10.0.13/wangEditor.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/wangEditor/10.0.13/fonts/w-e-icon.woff" rel="stylesheet">

    <script type='text/javascript' src='front/js/jquery.js'></script>
    <script type='text/javascript' src='front/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='front/js/swiper.min.js'></script>
    <script type='text/javascript' src='front/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='front/js/circle-progress.min.js'></script>
    <script type='text/javascript' src='front/js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='front/js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='front/js/custom.js'></script>
    <script type='text/javascript' src="front/js/wangEditor.js"></script>

    <!--    &lt;!&ndash; HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--    &lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
    <!--    &lt;!&ndash;[if lt IE 9]>-->
    <!--    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->
    <!--    <![endif]&ndash;&gt;-->


    <!--    &lt;!&ndash; jQuery &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>-->
    <!--    &lt;!&ndash; Bootstrap &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <!--    &lt;!&ndash; FastClick &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/fastclick/1.0.6/fastclick.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/layer/2.3/layer.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/codemirror/5.38.0/codemirror.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/codemirror/5.38.0/addon/display/placeholder.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/clike/clike.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/sql/sql.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/xml/xml.min.js"></script>-->
    <!--    &lt;!&ndash;富文本编辑器wangEditor&ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/wangEditor/10.0.13/wangEditor.min.js"></script>-->


</head>
<body class="single-page contact-page">
<header class="site-header">
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                        <a class="d-block" href="index.html" rel="home"><img class="d-block" src="front/images/logo.png"
                                                                             alt="logo"></a>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">


                            <li><a href="index.html">首页</a></li>
                            <li><a href="news.html">流言</a></li>
                            <li class="current-menu-item"><a href="submit.html">流言验证</a></li>
                            <li><a href="submit.html">关于我们</a></li>
                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->
</header><!-- .site-header -->

<div class="help-us">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <h2>流言验证</h2>

            </div>
        </div>
    </div>
</div>

<div class="contact-page-wrap">
    <div class="container">
        <div class="row">
            <div class=" col-12 col-lg-4">

                <div class="entry-content">
                    <h2>如有问题请联系我们</h2>

                    <p>在提出流言时如果有不方便阐述，阐述不清楚的地方，可以通过以下联系方式联系我们，我们将进我们所能为您服务</p>
                    <ul class="contact-social d-flex flex-wrap align-items-center">
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>

                    <ul class="contact-info p-0">
                        <li><i class="fa fa-phone"></i><span>888888888</span></li>
                        <li><i class="fa fa-envelope"></i><span>factcheck@163.com</span></li>
                        <li><i class="fa fa-map-marker"></i><span>上园村3号</span></li>
                    </ul>
                </div>
            </div><!-- .col -->
            <div class="jumbotron col-12 col-lg-8">

                <div class="container ">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="title" class="input-group-text">流言名称</label>
                        </div>
                        <input type="text" class="form-control" id="title" name="articleTitle"
                               placeholder="流言名称">
                        <div class="input-group-prepend">
                            <label for="location" class="input-group-text">流言地点</label>
                        </div>
                        <input type="text" class="form-control" id="location" name="location" placeholder="流言地点">
                    </div>
                    <!--<textarea id="ddlSqlArea" placeholder="请输入文章内容..." class="form-control" style="height: 250px;">

                    </textarea>--><br>
                    <div id="editor">
                        <p>请填写流言详细描述</p>
                    </div>
                    <p>
                        <button class="btn btn-primary btn-lg" style="float:right" id="btnGenCode" role="button"
                                onclick="submit()">提交 »
                        </button>
                    </p>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div>


<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="foot-about">
                        <h2><a class="foot-logo" href="#"><img src="front/images/logo.png" alt=""></a></h2>

                        <p>Factcheck是一个专业权威的辟谣网站，收集用户上传的谣言，通过专家和国家机构权威辟谣，致力于维护国家的舆论安全</p>

                        <ul class="d-flex flex-wrap align-items-center">
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div><!-- .foot-about -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <h2></h2>

                    <ul>

                    </ul>
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-latest-news">
                        <h2>最新辟谣</h2>

                        <ul>
                            <li>
                                <h3><a href="#">这是最新辟谣1</a></h3>
                                <div class="posted-date">2020/5/2</div>
                            </li>

                            <li>
                                <h3><a href="#">这是最新辟谣2</a></h3>
                                <div class="posted-date">2020/5/2</div>
                            </li>

                            <li>
                                <h3><a href="#">这是最新辟谣3</a></h3>
                                <div class="posted-date">2020/5/3</div>
                            </li>
                        </ul>
                    </div><!-- .foot-latest-news -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>联系方式</h2>

                        <ul>
                            <li><i class="fa fa-phone"></i><span>8888888888</span></li>
                            <li><i class="fa fa-envelope"></i><span>Factcheck@163.com</span></li>
                            <li><i class="fa fa-map-marker"></i><span>上园村3号</span></li>
                        </ul>
                    </div><!-- .bgcontact -->

                    <div class="subscribe-form">
                        <form class="d-flex flex-wrap align-items-center">
                            <input type="email" placeholder="邮箱">
                            <input type="submit" value="发送">
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-widgets -->

    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made by factcheck
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer><!-- .site-footer -->
</body>

<script type="text/javascript">
    let editor;

    $(function () {
        let E = window.wangEditor
        editor = new E('#editor')
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'underline',  // 下划线
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
            'image',  // 插入图片
            'table',  // 表格
            'video',  // 插入视频
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
        ]
        // 或者 var editor = new E( document.getElementById('editor') )
        // 配置服务器端地址
        //editor.customConfig.uploadImgServer = 'http://localhost:8888/xxxx/upload/editor'
        //配置指定文件名
        //editor.customConfig.uploadFileName = 'file'
        //如果图片不大，可以用base64存储
        //editor.customConfig.uploadImgShowBase64 = true
        editor.create()
    })

    function submit() {
        let title = $(`#title`).val();
        let location = $(`#location`).val();
        let content = editor.txt.html();
        let url = `/message/insertMessage`;
        $.ajax({
            url: url,
            type: 'POST',
            data: JSON.stringify({
                "description": content,
                "messageName": title,
                "mid": null,
                "position": location,
                "tagName": null,
                "uploadTime": new Date(),
                "username": null
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result, data) {
                console.log(result);
                console.log(data);
            }
        });
    }
</script>
</html>